.row1 {background-color:red;}
.row2 {background-color:blue;}
.row3 {background-color:orange;}
.row4 {background-color:purple;}
.box1 {background-color:black;}
#map tr td {
    width:3px;
    height:3px;
    border:0px;
    padding:0px;
}

table { 
	border: none;
	border-collapse:collapse;
	border-spacing: 0;
    margin-left: 144px;
}
img {
	position: absolute;
	z-index: -2;
	-webkit-transform: rotate(-0.3deg);
    transform: rotate(-0.3deg);
}

.avenue {background-color:black;}

