.row1 {background-color:red;}
.row2 {background-color:blue;}
.row3 {background-color:orange;}
.row4 {background-color:purple;}
.box1 {background-color:black;}
.table1 tr td {width:16px; height:16px;  border=0px}
table { border-collapse:collapse;}